<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="utf-8"/>
    <title>Add a Patient Hist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<body>
<div class="container">
    <div th:if="${error}">
        <div class="alert alert-danger alert-dismissible fade show">
            <strong>Error!</strong> <span th:text="${error}"> </span>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2>Add a new Patient Hist</h2>
    </div>

    <div class="row">
        <form th:action="@{/central/validate-patient-hist/{id}(id=${patientHist.id})}" th:object="${patientHist}" id="validatePatientHistForm" method="post" class="form-horizontal" style="width: 100%">
            <a> Patient id</a>
            <div>
                <label>
                    <input type="text" th:field="*{patId}" th:value="*{patId}" >
                </label>
            </div>
            <a> Family type</a>
            <div>
                <label>
                    <input type="text" th:field="*{family}" th:value="*{family}" >
                </label>
            </div>
            <a> Content</a>
            <div class="mb-3">
                <label>
                    <textarea  name="content" th:field="*{content}"  rows="5" cols="50" form="validatePatientHistForm"></textarea>
                </label>
            </div>

            <button name="Save" class="btn btn-primary" type="submit" >Save</button>
            <a name="Cancel" class="btn btn-primary" th:href="@{/central/get-patient-ls}">Cancel</a>

        </form>
    </div>
</div>
</body>
</html>