<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="eng">

<head>
    <meta charset="UTF-8">
    <title>PatientHist list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col text-centered">
            <h2>Patient History list</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="left-align">
        <a class="btn btn-primary" th:href="@{/central/addPatientHist}" role="button"> Add</a>
    </div>
</div>
<div class="row">
    <table class="table table-bordered centered">
        <thead>
        <tr style="text-align:center">
            <th>id</th>
            <th>patient Id</th>
            <th>family</th>
            <th>content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patientHist:${patHistList}" style="text-align:center">
            <td><span th:text="${patientHist.id}"></span></td>
            <td><span th:text="${patientHist.patId}"></span></td>
            <td><span th:text="${patientHist.family}"></span></td>
            <td>
                <div class="card">
                    <div class="card-body" th:text="${patientHist.content}">
                    </div>
                </div>
            </td>
            <td>
                <a class="btn btn-primary" th:href="@{/central/updatePatientHist/{id}(id=${patientHist.id})}" role="button"> Edit</a>
                <a class="btn btn-primary" th:href="@{/central/deletePatientHistById/{patId}(patId=${patientHist.patId})'&'{id}(id=${patientHist.id})}" role="button"> Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>


</body>
</html>