<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Patient list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col text-centered">
            <h2>Patient list</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="left-align">
        <a class="btn btn-primary" th:href="@{/central/addPatient}" role="button"> Add</a>
    </div>
</div>
<div class="row">
    <table class="table table-bordered centered">
        <thead>
        <tr style="text-align:center">
            <th>id</th>
            <th>family</th>
            <th>given</th>
            <th>dob</th>
            <th>sex</th>
            <th>address</th>
            <th>phone</th>
            <th>name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient:${patientList}" style="text-align:center">
            <td><span th:text="${patient.id}"></span></td>
            <td><span th:text="${patient.family}"></span></td>
            <td><span th:text="${patient.given}"></span></td>
            <td><span th:text="${patient.dob}"></span></td>
            <td><span th:text="${patient.sex}"></span></td>
            <td><span th:text="${patient.address}"></span></td>
            <td><span th:text="${patient.phone}"></span></td>
            <td><span th:text="${patient.getFirstname}"></span>
            <td>
                <a class="btn btn-primary" th:href="@{/central/updatePatient/{id}(id=${patient.id})}" role="button"> Edit Patient info </a>
                <a class="btn btn-primary" th:href="@{/central/getPatientHistList/{id}(id=${patient.id})}" role="button"> Go to Patient Obs </a>
                <a class="btn btn-primary" th:href="@{/central/deletePatientById/{id}(id=${patient.id})}" role="button"> Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>


</body>
</html>