
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>


<body>
<div class="container">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="title">
            <h3 > Mediscreen </h3>
        </div>

        <!-- Login Form -->
        <form th:method="post" th:action="@{/login}" enctype="utf8" th:object="${user}">

            <input data-th-type="username" id="username" name="username" placeholder="username">

            <input data-th-type="password" id="password" name="password" placeholder="password">

            <input type="submit" name="submit" value="Log In">
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    <strong>Error! check fields </strong>
                </div>
            </div>
        </form>


    </div>
</div>
</body>
</html>

